{% extends 'SiteBundle:Default:base.html.twig' %}



{% block body %}

  <header>
    <div class="header__top">
      <div class="header__location"><i class="fa fa-location-arrow"></i> Auf dem Graben 2, 45657 Recklinghausen</div>
      <div class="header__phone"><i class="fa fa-phone"></i> 02361-4049830</div>
      <div class="header__mail"><i class="fa fa-mail"></i> <a href="mailto:kontakt@pt-praxen.de">kontakt@pt-praxen.de</a></div>
    </div>
    <div class="header__bottom">

      <nav>
        <ul>
          <li><a class="" href="{{ path('homepage') }}">Home</a></li>
          <li><a class="active" href="{{ path('site_team') }}">Team</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="intro" style="background-image: url('{{ asset('bundles/site/images/team.jpg') }}')">
    <div class="img-overlay"></div>
    <div class="intro__text">
      <i class="fa fa-user-md"></i>
      <h1>Team</h1>
    </div>
  </section>

  <section class="people">
    <ul id="tabs">
      <li class="active">Dr. med. Kirsten Behrendt</li>
      <li>Dr. med. Kirsten Behrendt</li>
      <li>Dr. med. Kirsten Behrendt</li>
      <li>Dr. med. Kirsten Behrendt</li>
    </ul>
    <ul id="tab">
      <!-- Arzt Nr. 1 -->
      <li class="active">
        <h2>Dr. med. Kirsten Behrendt</h2>
        <h4>Ärztin für Psychiatrie und Psychotherapie</h4>
        <p>
          <i class="fa fa-phone"></i> 02361-404 98 33 <br>
          <i class="fa fa-envelope-o"></i> <a href="mailto:#">behrendt@pr-praxen.de</a>
        </p>
        <p>
          <span class="small">Persönliche Telefonsprechstunde:</span><br>
          montags von 8.30 h bis 9.00 h
        </p>
        <hr>
        <h3>Lebenslauf</h3>
        <table>
          <tr>
            <td>2001-2002</td>
            <td><strong>Kindergarten</strong> Katholischer Kindergarten Bochum Gerthe</td>
          </tr>
          <tr>
            <td>1999-2012</td>
            <td><strong>Studium</strong> Ruhr Universität Bochum</td>
          </tr>
          <tr>
            <td>2015-2016</td>
            <td><strong>Abitur</strong> Goethe Schule Bochum</td>
          </tr>
          <tr>
            <td>2022</td>
            <td><strong>Praxiseröffnung</strong></td>
          </tr>
        </table>

      </li>

      <li>
        <h2>This is the second tab</h2>
      </li>
      <li>
        <h2>Tab number three wee hee</h2>
      </li>
      <li>
        <h2>Fourth tab not bad</h2>
      </li>
    </ul>

  </section>

  <footer class="footer">
    <div class="footer__row">
      <div class="footer__column">
        <i class="fa fa-location-arrow"></i> Auf dem Graben 2, 45657 Recklinghausen <br>
        <i class="fa fa-phone"></i> 02361-4049830 <br>
        <i class="fa fa-envelope"></i> <a href="mailto:kontakt@pt-praxen.de">kontakt@pt-praxen.de</a>
      </div>
      <div class="footer__column"><a href="#">Impressum</a></div>
    </div>
    <hr>

    <p style="text-align: center;">Copyright © 2016 Dennis Smuda</p>
  </footer>


{% endblock body %}