
.aboutus {
  padding: 10rem 4rem;

  &__inner {
    width: 60%;
    margin: auto;

    @include max-screen(640px) {
      width: 80%;
    }

    @include max-screen(480px) {
      width: 100%;
    }
  }

  h2 {
    color: $blue;
    font-size: 2.5rem;
  }

  p {
    font-weight: 100;
    padding-top: 1rem;
    font-size: 1.15rem;
    line-height: 1.6;
  }
}
