
.footer {
  background-color: $blue;
  color: rgba(white, 0.7);
  padding: 4rem;
  font-weight: 100;
  line-height: 1.5;


  &__row {
    @include display(flex);
    @include justify-content(space-between);
  }


  a {
    color: rgba(white, 0.7);
  }

  hr {
    border-bottom: 1px solid rgba(white, 0.7);
    margin: 2rem 0;
  }
}