
.intro {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  height: calc(100vh - #{$nav-height});
  background-size: cover;
  background-position: center 0;


  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);

  .img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    z-index: 0;
  }


  img {
    height: 100%;
  }


}



.intro__text {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;

  @include display(flex);


  i {
    font-size: 5.5rem;
    color: $blue;
    text-shadow: 1px 1px #fff;
    z-index: 1;
    @include align-self(center);
  }


  h1 {
    display: inline-block;
    color: $blue;
    font-size: 2.5rem;
    text-shadow: 1px 1px #fff;
    line-height: 0.9;
    padding: 1rem;

    .small {
      font-size: 1.8rem;
    }
  }


}