
.intro {
  position: relative;
  width: 100vw;
  height: calc(100vh - #{$nav-height});
  background-size: cover;
  background-position: center 0;


  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);

  .img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    z-index: 0;
  }


  img {
    height: 100%;
  }

  i {
    font-size: 5.5rem;
    color: $blue;
    padding: 3rem;
    text-shadow: 1px 1px #fff;
    z-index: 1;
  }
}



.intro__text {
  z-index: 1;
  h1 {
    display: inline;
    color: $blue;
    font-size: 2.5rem;
    text-shadow: 1px 1px #fff;

    .small {
      font-size: 1.8rem;
    }
  }


}