
.team {
  background-color: white ;
  padding: 2rem;
  @include display(flex);
  @include flex-wrap(wrap);

}


.team__member {

  background-color: #f9f9f9;

  width: 350px;
  padding: 1rem;
  margin: 1rem;

  h4 {
    font-weight: 400;
  }

  p {
    padding: 0.5rem 0 0 0;
  }
}